<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    
    <context:annotation-config/>
    <context:component-scan base-package="com.segvek.terminal"/>
    
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" scope="singleton">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:4040/terminal?characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
        
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" scope="singleton">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>
    
<!--    <bean id="tjtJTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" scope="singleton">
        <property name="dataSource" ref="dataSource" />
    </bean>-->
    
    <bean id="clientDAO" class="com.segvek.terminal.dao.mysql.ClientMysqlDAO"/>
    <bean id="contentContractDAO" class="com.segvek.terminal.dao.mysql.ContentContractMysqlDAO"/>
    <bean id="estakadDAO" class="com.segvek.terminal.dao.mysql.EstakadMysqlDAO"/>
    <bean id="typeEstakadaDAO" class="com.segvek.terminal.dao.mysql.TypeEstakadaMysqlDAO"/>
    <bean id="typeTankDAO" class="com.segvek.terminal.dao.mysql.TypeTankMysqlDAO"/>
    
    
    <bean id="tankMysqlDAO" class="com.segvek.terminal.dao.mysql.TankMysqlDAO"/>
    <bean id="cargoMysqlDAO" class="com.segvek.terminal.dao.mysql.CargoMysqlDAO"/>
    <bean id="contractMysqlDAO" class="com.segvek.terminal.dao.mysql.ContractMysqlDAO"/>
    <bean id="drainLocationMysqlDAO" class="com.segvek.terminal.dao.mysql.DrainLocationMysqlDAO"/>
    <bean id="admissionMysqlDAO" class="com.segvek.terminal.dao.mysql.AdmissionMysqlDAO"/>
    <bean id="dependencyAdmissionMysqlDAO" class="com.segvek.terminal.dao.mysql.DependencyAdmissionMysqlDAO"/>
    
    <bean id="cargoDAO" class="com.segvek.terminal.dao.cash.CargoCashDAO">
        <constructor-arg name="cargoDAO" ref="cargoMysqlDAO"/>
    </bean>
    <bean id="tankDAO" class="com.segvek.terminal.dao.cash.TankCashDAO">
        <constructor-arg name="tankDAO" ref="tankMysqlDAO"/>
    </bean>
    <bean id="contractDAO" class="com.segvek.terminal.dao.cash.ContractCashDAO">
        <constructor-arg name="contractDAO" ref="contractMysqlDAO"/>
    </bean>
    <bean id="drainLocationDAO" class="com.segvek.terminal.dao.cash.DrainLocationCashDAO">
        <constructor-arg name="drainLocationDAO" ref="drainLocationMysqlDAO"/>
    </bean>
    <bean id="admissionDAO" class="com.segvek.terminal.dao.cash.AdmissionCashDAO">
        <constructor-arg name="admissionDAO" ref="admissionMysqlDAO"/>
    </bean>
    <bean id="dependencyAdmissionDAO" class="com.segvek.terminal.dao.cash.DependencyAdmissionCashDAO">
        <constructor-arg name="dependencyAdmissionDAO" ref="dependencyAdmissionMysqlDAO"/>
        <constructor-arg name="admissionDAO" ref="admissionMysqlDAO"/>
    </bean>
    
    
    
</beans>
